header {
    text-align: center;
}

nav {
    text-align: center;
    background-color: rgb(11, 104, 11);
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;

}

section.grey-block {
    padding: 20px;
    background: #eee;
}

section.green-block {
    padding: 20px;
    background: rgb(215, 255, 215);

}

section img {
    width: 100%;

}

h2 {
    background-color: rgb(11, 104, 11);
    padding: 10px;
    margin-top: 0;
}