html {
    background-color: rgb(65, 3, 65);
    border: 5px;
}

div {
    border: coral;
    border-style: dotted;
    border-radius: 5px;
    margin: 300px;
    background-color: rgb(44, 6, 51);
    filter: url(goo);
    text-shadow: 5mm;
    font-family: Georgia, 'Times New Roman', Times, serifs;
}

header {
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: rgb(201, 137, 18);
}

.pink {
    color: rgb(100, 14, 61);
}

section {
    line-height: 0.5cm;
}

#margin {
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    text-transform: capitalize;
    color: rgb(89, 20, 44);
    text-transform: capitalize;
}

.picture {
    text-align: center;
    width: 20px 20px 20px 20px;
    border-image: round;
}