@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&display=swap') body {}


.header {
    max-width: 350px;
    widht: 100%;
    height: auto;
    margin: 50px auto;
}



.username input {
    width: 300px;
    height: 40px;
    background-color: rgb(250, 245, 245);
    border-color: darkgray;
}

.username ::placeholder {
    text-align: center;
}