html {
	font-family: 'Roboto Serif', serif;
	border: white 0.5px solid;
	border-radius: 5px;
	box-shadow: 3px;
	margin-left: 30px;
	margin-top: 20px;
}

#logo {
	text-align: center;
}
.register {
	text-align: center;

	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 15px;
}
#sign_up_form p {
	margin-bottom: -10px;
	margin-top: 0px;
	text-align: left;
	font-size: 10px;
}
#submit {
	width: 80px;
}

#sign_up_form {
	display: grid;
	grid-template-columns: repeat(1, auto);
	justify-content: center;
	gap: 10px;
	text-align: center;
}
#signUp {
	text-align: center;
}

#signUp:hover {
	color: crimson;
	text-decoration-line: underline;
}
#sign-in_form {
	display: grid;
	grid-template-columns: repeat(1, auto);
	justify-content: center;
	gap: 10px;
	text-align: center;
}
#sign-in_form p {
	margin-bottom: -10px;
	margin-top: 0px;
	text-align: left;
	font-size: 10px;
}
#signInLine:hover {
	color: crimson;
	text-decoration-line: underline;
}

.registerNavigation {
	text-align: center;
}

#output,
#addBill {
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: center;
	gap: 40px;
	text-align: center;
	box-shadow: 50px;
}
#output div {
	border: 2px grey solid;
	width: 150px;
	padding: 10px;
	border-radius: 10px;
	background-color: lightgray;
}
#addGroup,
#addBill {
	display: grid;
	grid-template-columns: repeat(1, auto);
	justify-content: center;
	gap: 10px;
	text-align: center;
}
#addGroup p,
#addBill p {
	margin-bottom: -10px;
	padding-bottom: 2px;
	text-align: left;
	font-size: 10px;
}
.addBillClass {
	text-align: center;
	font-size: 15px;
}

#billsContainer div {
	display: flex;
	flex-direction: row;
	gap: 160px;
	align-items: left;
	align-content: center;
	font-size: x-small;
	padding: 5px;
	margin-left: 10px;
	margin-right: 30px;
}

#billsContainer div:nth-of-type(odd) {
	background-color: lightgrey;
	border: 2px solid lightgrey;
	border-radius: 1px;
}

#billsContainer h1 {
	font-size: 25px;
}

#acount_table_names {
	display: flex;
	flex-direction: row;
	gap: 120px;
	align-items: baseline;
	align-content: center;
}
#acount_table_names p {
	font-size: x-small;
	margin-left: 10px;
}
