* {
    margin: 0.5;
    padding: 0px;
}

html {
    font-family: 'Roboto Serif', serif;
    border: white 0.5px solid;
    border-radius: 5px;
    box-shadow: 3px;
    margin-left: 15px;
    margin-top: 10px;

}

header {
    width: 100%;
    height: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 320px;

}

.navigation {
    list-style-type: none;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: flex-end;
    margin-right: 2px;
    color: grey;

}

header a {
    text-decoration: none;
    color: grey;
    padding-right: 10px;

}

.pink {
    color: rgb(227, 129, 191);
}

li {
    padding-right: 5px;
    text-decoration: none;
}

nav {
    width: 85%;
    height: 60px;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 300px;
}

nav div h6 {
    color: rgb(225, 115, 134);
    font-size: 14px;
    padding-top: 22px;

}

nav div h2 {
    font-weight: 900;

}

.smalltext {
    color: gray;
    font-size: small;
}

.graphics {
    align-items: baseline;
    padding-left: 70px;
    padding-bottom: 20px;
}

nav button {
    margin-top: 10px;
    width: 100px;
    height: 45px;
    border: 2px orange solid;
    border-radius: 20px;
    background-color: white;


}

#freeoffer {
    margin-top: 240px;
    background-image: url(background.svg);
    background-size: 90vmax;
    background-repeat: no-repeat;
    height: 140px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 70px;

}

main p {
    font-size: x-small;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 25px;
    margin-right: 20px;
}

.icons img {
    width: 140px;
    height: 70px;
}

.middle {
    margin-top: 60px;
    margin-left: 20px;
    padding: 0 auto;
}

.middle h4 {
    font-size: 30px;
}

.middle>h6 {
    font-size: 15px;

}

.middle span {
    text-decoration: underline;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.mainproducts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 6px;
    margin-top: 0px;
    padding-bottom: 30px;
    background-color: rgb(245, 242, 238);
}

div .mainproducts {
    width: 160px;

}

.mainproducts img {
    width: 160px;
    height: fit-content;
    margin-bottom: 2px;
    margin-top: 0 auto;
    margin-right: 5px;
}

.mainproducts :nth-child(1) {
    grid-column: 1/3;
    align-content: center;
    padding-bottom: 2px;

}

.mainproducts :nth-child(2) {
    color: orange;
    font-size: 8px;
    text-align: left;
    padding-left: 12px;
    padding-bottom: 2px;
    background-color: rgb(245, 242, 238);
}

.mainproducts :nth-child(3) {
    font-size: 6px;
    text-align: right;
    padding-right: 12px;
    padding-bottom: 2px;
    background-color: rgb(245, 242, 238);


}

.mainproducts :nth-child(4) {
    font-size: 8px;
    font-weight: bolder;
    text-align: left;
    padding-left: 12px;
    padding-bottom: 2px;
    background-color: rgb(245, 242, 238);
}

.mainproducts :nth-child(5) {
    font-size: 6px;
    text-align: right;
    padding-right: 12px;
    padding-left: 28px;
    padding-bottom: 2px;
    font-size: 6px;
    font-weight: bolder;
    background-color: rgb(245, 242, 238);
}

.mainproducts :nth-child(5) img {
    width: 7px;
    height: 9px;
    background-color: rgb(245, 242, 238);
    position: absolute;
    display: flex;
}

.mainproducts :nth-child(6) {
    font-size: 6px;
    text-align: left;
    padding-left: 12px;
    background-color: rgb(245, 242, 238);
}

.mainproducts :nth-child(7) {
    font-size: 6px;
    text-align: right;
    padding-right: 12px;
    background-color: rgb(245, 242, 238);
}

.middlenav {
    margin-top: 5px;
}

.seperator {
    border-top: 0.3px rgb(227, 226, 226) solid;
    margin: 20px;
    margin-top: 45px;
    text-align: center;
}

#greenlady {
    padding-left: 100px;
    margin-bottom: 0 auto;
}

.divider {
    border-top: 0.3px rgb(227, 226, 226) solid;
    width: 93%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 200px;
}

.bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftside {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 5px;
}

.collection {
    font-size: 10px;
    color: rgb(154, 151, 151);
}

.rightside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    padding-top: 5px;
}

div .rightside ul {
    list-style-type: none;
    font-size: 10px;
}

div .rightside ul :nth-child(1) {
    color: rgb(78, 76, 76);
    font-weight: 900;
    padding-bottom: 10px;
}

div .rightside li {
    color: gray;
    padding: 3px;
}

.media {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    letter-spacing: 5px;
    color: gray;
}

.theend {
    display: grid;
    grid-template-columns: 1fr 300px;
    color: gray;
    font-size: 15px;
    margin-top: 90px;
    padding-bottom: 20px;
    padding-right: 100px;

}

aside :nth-child(2) {
    text-align: right;
}

.mobileline {
    width: 18px;
    height: 3px;
    background-color: gray;
    margin-bottom: 4px;
}

.ifmobile {
    display: none;
}

@media all and (max-width: 428px) {
    .ifmobile {
        display: block;
        align-items: left;
        margin-left: 200px;
    }

    html {
        margin-left: 2px;
    }

    .navigation {
        display: none;
        margin-left: 260PX;
    }

    nav {

        display: grid;
        grid-template-columns: 180px 1fr;
        grid-column-gap: 0px;
        margin-top: 4px;
        height: min-content;
    }

    .graphics {
        align-items: center;
        padding-left: 5px;

    }

    #freeoffer {
        width: 100%;
        height: 80px;
        margin-right: 0px;
        margin-left: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        margin-top: 3px;
        padding-top: 2px;
    }

    .noshow {
        display: none;
    }

    nav button {
        margin-top: 2px;
        padding-bottom: 5px;
        width: 100px;
        height: 45px;
        border: 2px orange solid;
        border-radius: 20px;
        background-color: white;
    }

    div .mainproducts {
        width: 300px;

    }


    .mainproducts img {
        width: 300px;
        height: fit-content;
        margin-bottom: 2px;
        margin-top: 0 auto;
        margin-right: 5px;
    }

    .divider {
        margin-top: 0px;
    }

    .middlenav {
        margin-bottom: 50px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 5px;

    }

    .leftside {
        grid-column: 1/2;
    }

    .rightside {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: 60px 1fr;
        column-gap: 1px;
    }

    .bottom {
        display: block;
    }

    .about {
        grid-column: 1/2;

    }

    .nft {
        grid-column: 2/3;
    }


    .theend {
        display: grid;
        grid-template-columns: 1fr 5px;
        margin-top: 3px;
        text-align: center;


    }

    aside :first-child {
        grid-column: 1/2;
    }

    aside :last-child {
        grid-column: 2/3;
    }

    aside :last-child {
        display: none;
    }

}