html {
    background-color: darkgrey;
}

.header {
    background-color: white;
    width: auto;
    height: 300px;
    margin: 0%;
    text-align: center;
}

a {
    color: rgb(176, 125, 224);
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 20px;
}

main {
    background-color: white;
    margin: 20px;
    height: 400px;
    border-radius: 20px;
    padding: auto;
}

h1 {
    text-align: left;
    color: rgb(107, 106, 106);
    padding-top: 1rem;
    padding-left: 1rem;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.seperator {
    border-bottom: 3px solid #d8d4d4;
    margin: 20px;
    text-align: center;
}

#container h2 {
    margin: 30px;
    color: #4a4848;
    font-weight: 50px;
}

h3 {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
}

footer {
    text-align: center;
    color: grey;
}

@media screen {
    max-width: 768;


}